<% provide(:title, 'Frame C') %>
<div class="main-bg">
	<div class="frame-c">
		<div class="video-play"></div>
		<a id="try-it-free-c" href="/payroll" class="ctalarge ctasecondary">Try It Free</a>
	</div>
</div>