<% provide(:title, 'Frame A') %>
<div class="main-bg">
	<div class="frame-a">
		<div class="video-play"></div>
		<a id="try-it-free-a" href="/payroll" class="ctalarge ctasecondary">Try It Free</a>
	</div>
</div>