<% provide(:title, 'Frame B') %>
<div class="main-bg">
	<div class="frame-b">
		<ul id="phoneInfoModule" class="quickNav-menu phone-info phone-info-module">
						<li class="sub-menu">
							<div>
								<span class="phone-icon"></span><span class="phone-number">(877) 683-3280</span><span class="info-icon"></span>
							</div>
							<ul>
								<li>
									<div class="call-center-status open">SALES: Currently <span class="open">Open!</span><span class="closed">Closed</span></div>
									Mon. - Fri. 5 AM - 6 PM PT
								</li>
								<li class="more-phone-numbers">
									<a data-sc="" href="//about.intuit.com/contact/">More phone numbers…</a>
								</li>
							</ul>
						</li>
				</ul>
	 </div>
</div>