<% provide(:title, 'Harmony Navigation 3') %>
<%= content_for :assets do %>
	<%= javascript_include_tag "harmony3" %>
<% end %>
<div class="container1">
	<div class="main">
		<div id="overview"></div>
		<div id="features"></div>
		<div id="how"></div>
		<div id="pricing"></div>
		<div id="stories"></div>
	</div>
	<div class="inpage-nav1-wrapper fixed">
		<div class="page-title hide"></div>
		<div class="inpage-nav1-outter">		
			<div class="inpage-nav1">
				<div class="nav-item" id="ni-overview">Overview</div>
				<div class="nav-item" id="ni-features">Features</div>
				<div class="nav-item" id="ni-how">How It Works</div>
				<div class="nav-item" id="ni-pricing">Pricing</div>
				<div class="nav-item" id="ni-stories">Customer Stories</div>
			</div>
		</div>
	</div>
</div>