<header>
  <div class="top-border"></div>
  <div class="container"><%= link_to "", root_path, id: "ilogo" %></div>
  <section class="main-nav">
    <div class="container">
      <div class="main-nav-li">
        <ul>
          <li><a href="#">Accounting Software</a></li>
          <li><a href="#">Add-ons & Checks</a></li>
          <li><a href="#">Accountants</a></li>
          <li><a href="#">Support</a></li>
        </ul>
      </div>
    </div>
  </section>
</header>
<section class="hero">
  <div class="container">
      <div class="row-fluid">
        <div class="span5">
          <h2>QuickBooks Online Works Wherever You Are</h2>
          <ul>
            <li>Organize your business all in one place</li>
            <li>Easily access your info from the web, your phone & tablet</li>
            <li>From home to work to on-the-go, your life stays synced</li>
          </ul>
        </div>

      </div>
  </div>
</section>