<header>
	<div class="top-border"></div>
	<div class="container"><%= link_to "", root_path, id: "ilogo" %></div>
	<section class="main-nav">
		<div class="container">		
			<div class="main-nav-li">
				<ul>
					<li><a href="#">Quickbooks</a></li>
					<li><a href="#">Payroll Services</a></li>
					<li><a href="#">Merchant Services</a></li>
					<li><a href="#">Checks & Supplies</a></li>
					<li><a href="#">Support</a></li>
				</ul>
			</div>
		</div>
	</section>
</header>
<section id="hero">
	<div id="hero-inner"></div>
</section>
<section id="pnav-holder">
	<section id="pnav-wrapper" class="pnav-container">
		<section id="pnav-top">
			<section class="container">
				<div class='row'>	
					<div class='span5 pnav1c'>		
						<h3>Intuit Basic Payroll</h3>
						<!-- <p>Free trial. No credit card required.</p> -->
					</div>
					<div class="span3 offset1 pnav2c">
						<h5 class='tc'>Starting at $21/month</h5>
						<p class='tc'>See <a href="#">pricing details</a></p>
					</div>
					<div class="span3">
						<a href="#" class="ctalarge ctaprimary try-it-free">Try It Free</a>
					</div>
				</div>
			</section>
		</section>
		<section id="pnav">
			<div class="navba">
					<ul class="navh container">
						<li><a href="#overview">Overview</a></li>
						<li><a href="#features">Features</a></li>
						<li><a href="#how">How it Works</a></li>
						<li><a href="#pricing">Pricing</a></li>
						<li><a href="#reviews">Customer Reviews</a></li>
					</ul>					
			</div>

		</section>
		<div class='arrow-shadow'>	
			<div class="arrow-ld pull-left"></div>
			<div class="arrow-rd pull-right"></div>
			<div class="clear"></div>
		</div>
	</section>
</section>

<div class="outer-container">
	<section id="overview" class="sec container">
		<h2>Overview</h2>
		<!-- <p class="b">Intuit Online Payroll makes it easy to run payroll anytime, anywhere in 3 easy steps.</p> -->
		<h3>See how Basic Payroll works</h3>
		<div class="row">
			<div class="span8">
				<div class="join-biz"><img src="/assets/payroll/join2.png" alt="" /></div>
			</div>
			<!-- <div class="span4">
				<div class="join-biz-video">
					<img class="pull-left" src="/assets/payroll/play2.png" alt="" />
					<div class="pull-right">
						<a href="#">Watch Short Video</a>
						<p>(1:08)</p>
					</div>
				</div>
			</div> -->

		</div>
		<div class="row">
			<div class="span6 overview-module">
				<div class="num pull-left"><span>1</span></div>
				<div class="pull-righ">
					<p class="b">Pay employees</p>
					<p>Enter hours and get instant paychecks. Then print checks yourself or use free <a href="/frame_b">direct deposit</a>.</p>
				</div>
			</div>
			<div class="span6 overview-module">
				<div class="num pull-left"><span>2</span></div>
				<div class="pull-righ">
					<p class="b">Work With Your Accountant on Payroll Tax Filings</p>
					<p>Basic Payroll does not include tax forms. You can generate reports for your accountant to help with tax filings. If you want tax forms completed for you, choose Enhanced Payroll or Full Service Payroll.</p>
				</div>
			</div>
		</div>
	</section>
	<div class="full-h-divider"></div>
	<section id="features" class="sec container">
		<h2>Features</h2>
		<div class="row">
			<div class="span6">
				<h3>Payroll features</h3>
				<ul>
					<li>Instant paychecks</li>
					<li>Free direct deposit</li>
					<li>Automatic tax calculations</li>
					<li>No tax forms included—create reports and work with your accountant on tax filings</li>
					<li>Free live support from payroll experts </li>
					<li>Run payroll online or inside QuickBooks</li>
				</ul>				
				<a href="#" class="ctasmall ctatertiary compare-products">Compare Products</a>
			</div>
			<div class="span6">
			   <h3>Employee Benefits</h3>
				
			</div>
		</div>
		<h3>Most liked features</h3>
		<p>Find out what colleagues in your industry like the most in Online Payroll.</p>
		<img src="/assets/payroll/bar.png" alt="" />
		<p>Vote for the features you like best here.</p><br/>
		<p>Percentages of surveyed Intuit Online Payroll users who said they liked that particular feature. The total sample size was 501.</p>
		
		<!-- <div class="row additional-features">
			<div class="span8">
				<h3>Additional Features</h3>
				<div class="row">
					<ul class="span4">
						<li>Instant paychecks</li>
						<li>Free live support from payroll experts</li>
						<li>Run payroll online or on your <br/>mobile phone</li>
						<li>Free mobile payroll app for iPhone & Android</li>
					</ul>
					<ul class="span4">
						<li>Built-in payroll calculator for instant <br/>payroll tax calculations</li>
						<li>Email reminders</li>
						<a href="#">Compare all payroll product features</a>						
					</ul>

				</div>
				
			</div>
			<div class="span4">
				<h3>Additional Services</h3>
				<ul>
					<li>Employee time tracking</li>
					<li>Pay-as-you-go workers' compensation</li>
					<li>Employee healthcare card</li>
				</ul>
			</div>
		</div> -->
	</section>
	<div class="full-h-divider"></div>
	<section id="how" class="sec container">
		<h2>How it Works</h2>
		<h3>Take the tour</h3>
		<p>Walk through payday, tax time, reporting, and more to see exactly what you can expect.</p>
		<img src="/assets/payroll/start-tour.png" alt="" />
	</section>
	<div class="full-h-divider"></div>
	<section id="pricing" class="sec container">
		<h2>Pricing</h2>
		<h3>Pay Less, Get More</h3>
		<div class="row">
			<div class="offset1 span5 price-module">
				<div>
				  <header><h3>Annual Billing - 20% OFF</h3></header>
				  <section>
					  <p class="tc"><span class='price'><sup>$</sup>21</span><span class="b">/month</span> (<span class="crossed">$300</span> $250 billed annually)</p>
					   <p class="tc">+1.50/month per employee</p>
				  </section>
					<footer>
						<p>Includes:</p>
						<p>Free direct deposit</p>
						<p>Unlimited payroll runs each month</p>
					</footer>
				</div>
			</div>
			<div class="span5 price-module monthly-price">
			  <header><h3>Monthly Billing</h3></header>
			  <section>
				  <p class="tc"><span class='price'><sup>$</sup>25</span><span class="b">/month</span></p>
				   <p class="tc">+1.50/month per employee</p>
			  </section>
				<footer>
					<p>Includes:</p>
					<p>Free direct deposit</p>
					<p>Unlimited payroll runs each month</p>
				</footer>	
			</div>
		</div>
	</section>
	<section id="reviews" class="sec container">
		<h2>Customer Stories</h2>
		<p>Click on the customers below to hear what they have to say</p>
		<div id="customer"></div>
	</section>
	<div class="full-h-divider"></div>
	<section class="sec container">
		<div id="bottom"></div>
	</section>

</div>
<footer>
	 <div id="foot"></div>
</footer>