<header>
	<div class="top-border"></div>
	<div class="container"><%= link_to "", root_path, id: "ilogo" %></div>
	<section class="main-nav">
		<div class="container">		
			<div class="main-nav-li">
				<ul>
					<li><a href="#">Quickbooks</a></li>
					<li><a href="#">Payroll Services</a></li>
					<li><a href="#">Merchant Services</a></li>
					<li><a href="#">Checks & Supplies</a></li>
					<li><a href="#">Support</a></li>
				</ul>
			</div>
		</div>
	</section>
</header>
<section id="hero">
	<div id="hero-inner"></div>
</section>
<section id="pnav-holder">
	<section id="pnav-wrapper" class="pnav-container">
		<section id="pnav-top">
			<section class="container">
				<div class='row'>	
					<div class='span5 pnav1c'>		
						<h3>Intuit Online Payroll Plus</h3>
						<p>Free trial. No credit card required.</p>
					</div>
					<div class="span3 offset1 pnav2c">
						<h5 class='tc'>30-Day Free Trial</h5>
						<p class='tc'>$39/mo + $1.50/mo per employee</p>
					</div>
					<div class="span3">
						<button class='btn'>Try It Free</button>
					</div>
				</div>
			</section>
		</section>
		<section id="pnav">
			<div class="navba">
					<ul class="navh container">
						<li><a href="#overview">Overview</a></li>
						<li><a href="#features">Features</a></li>
						<li><a href="#how">How it Works</a></li>
						<li><a href="#pricing">Pricing</a></li>
						<li><a href="#reviews">Customer Reviews</a></li>
					</ul>					
			</div>

		</section>
		<div class='arrow-shadow'>	
			<div class="arrow-ld pull-left"></div>
			<div class="arrow-rd pull-right"></div>
		</div>
	</section>
</section>

<div class="outer-container">
	<section id="overview" class="sec container">
		<h2>Overview</h2>
		<p class="b">Intuit Online Payroll makes it easy to run payroll anytime, anywhere in 3 easy steps.</p>
		<div class="row">
			<div class="span8">
				<div class="join-biz"></div>
			</div>
			<div class="span3">
				<div class="join-biz-video"></div>
			</div>
		</div>
	</section>
	<div class="full-h-divider"></div>
	<section id="features" class="sec container">
		<h2>Features</h2>
	</section>
	<section id="how" class="sec container">
		<h2>How it Works</h2>
	</section>
	<section id="pricing" class="sec container">
		<h2>Pricing</h2>
	</section>
	<section id="reviews" class="sec container">
		<h2>Our Customer Stories</h2>
	</section>
</div>