<% provide(:title, 'Symphony - Full Service') %>
<div class="main-fullservice main-bg">
	<section id="pnav-holder">
		<section id="pnav-wrapper" class="pnav-container">
			<section id="pnav-top">
				<section class="container">
					<div class="row">	
						<div class="span5 pnav1c">		
							<h3>Intuit Full Service Payroll</h3>
							<!-- <p>Free trial. No credit card required.</p> -->
						</div>
						<!-- <div class="span3 offset1 pnav2c">
							<h5 class="tc">30-Day Free Trial</h5>
							<p class="tc">$39/mo + $1.50/mo per employee</p>
						</div>
						<div class="span3">
							<button class="btn">Try It Free</button>
						</div> -->
					</div>
				</section>
			</section>
			<section id="pnav">
				<div class="navba">
						<ul class="navh container">
							<li><a href="#f-overview">Overview</a></li>
							<li><a href="#f-features">Features</a></li>
							<li><a href="#f-how">How it Works</a></li>
							<li><a href="#f-pricing">Pricing</a></li>
							<li><a href="#f-reviews">Customer Stories</a></li>
						</ul>					
				</div>

			</section>
			<div class="arrow-shadow">	
				<div class="arrow-ld pull-left"></div>
				<div class="arrow-rd pull-right"></div>
			</div>
		</section>
	</section>
	<div id="f-overview" class="absolute"></div>
	<div id="f-features" class="absolute"></div>
	<div id="f-how" class="absolute"></div>
	<div id="f-pricing" class="absolute"></div>
	<div id="f-reviews" class="absolute"></div>	
</div>