body {
	font: 14px "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Helvetica Neue", Arial, sans-serif;
}


.ctaprimary, .ctasecondary, .ctatertiary {
	font: 14px "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Helvetica Neue", Arial, sans-serif;
	line-height: 1.5em; /* Helps cross-platform centering */
	text-decoration: none;
	text-align: center;
	display: block;
	font-weight: bold;
}

.ctalarge {
	font-size: 16px;

	-webkit-border-radius: 7px;
	   -moz-border-radius: 7px;
		    border-radius: 7px;

	width: 138px;

	padding-top: 4px;
	height: 30px;
}

.ctamedium {
	font-size: 14px;

	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
	        border-radius: 5px;

	width: 138px;

	padding-top: 3px;
	height: 25px;
}

.ctasmall {
	font-size: 12px;

	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
		    border-radius: 3px;

	width: 138px;

	padding-top: 2px;
	height: 20px;
}

.ctaprimary {
	color: #505050;
	text-shadow: 0 1px 0 rgba(255,255,255,0.4);
	border: 1px solid #e4a100;
	border: 1px solid rgba(228,161,0,0.5);

	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), inset 0 0 4px rgba(255,233,162,.5);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), inset 0 0 4px rgba(255,233,162,.5);
	        box-shadow: 0 1px 2px rgba(0,0,0,.4), inset 0 0 4px rgba(255,233,162,.5);

	background-color: #fec82a;
	background-image: -webkit-linear-gradient(bottom, #ffcd5e, #efb427 26%, #fce8bb 97%, #fff);
	background-image:    -moz-linear-gradient(bottom, #ffcd5e, #efb427 26%, #fce8bb 97%, #fff);
	background-image:      -o-linear-gradient(bottom, #ffcd5e, #efb427 26%, #fce8bb 97%, #fff);
	background-image:     -ms-linear-gradient(bottom, #ffcd5e, #efb427 26%, #fce8bb 97%, #fff);
	background-image:         linear-gradient(to top, #ffcd5e, #efb427 26%, #fce8bb 97%, #fff);
}

.ctaprimary:hover {
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), inset 0 0 6px rgba(255,233,162,.6);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), inset 0 0 6px rgba(255,233,162,.6);
	        box-shadow: 0 1px 2px rgba(0,0,0,.4), inset 0 0 6px rgba(255,233,162,.6);

	background-color: #ffd75e;
	background-image: -webkit-linear-gradient(bottom, #ffd269, #f2bf47 26%, #fff0c7 97%, #fff);
	background-image:    -moz-linear-gradient(bottom, #ffd269, #f2bf47 26%, #fff0c7 97%, #fff);
	background-image:      -o-linear-gradient(bottom, #ffd269, #f2bf47 26%, #fff0c7 97%, #fff);
	background-image:     -ms-linear-gradient(bottom, #ffd269, #f2bf47 26%, #fff0c7 97%, #fff);
	background-image:         linear-gradient(to top, #ffd269, #f2bf47 26%, #fff0c7 97%, #fff);
}

.ctasecondary {
	color: #fff;
	text-shadow: 0 0 3px #002680;
	border: 1px solid #0044e3;
	border: 1px solid rgba(0,68,227,0.5);

	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), inset 0 0 4px rgba(163,191,255,.5);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), inset 0 0 4px rgba(163,191,255,.5);
	        box-shadow: 0 1px 2px rgba(0,0,0,.4), inset 0 0 4px rgba(163,191,255,.5);

	background-color: #365ebf;
	background-image: -webkit-linear-gradient(bottom, #4172eb, #365ebf 26%, #5789ff 97%, #adc6ff);
	background-image:    -moz-linear-gradient(bottom, #4172eb, #365ebf 26%, #5789ff 97%, #adc6ff);
	background-image:      -o-linear-gradient(bottom, #4172eb, #365ebf 26%, #5789ff 97%, #adc6ff);
	background-image:     -ms-linear-gradient(bottom, #4172eb, #365ebf 26%, #5789ff 97%, #adc6ff);
	background-image:         linear-gradient(to top, #4172eb, #365ebf 26%, #5789ff 97%, #adc6ff);
}

.ctasecondary:hover {
	color: #fff;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), inset 0 0 6px rgba(163,191,255,.6);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), inset 0 0 6px rgba(163,191,255,.6);
			box-shadow: 0 1px 2px rgba(0,0,0,.4), inset 0 0 6px rgba(163,191,255,.6);

	background-color: #527bd9;
	background-image: -webkit-linear-gradient(bottom, #4f8aff, #3b63c5 26%, #70a7ff 97%, #adc6ff);
	background-image:    -moz-linear-gradient(bottom, #4f8aff, #3b63c5 26%, #70a7ff 97%, #adc6ff);
	background-image:      -o-linear-gradient(bottom, #4f8aff, #3b63c5 26%, #70a7ff 97%, #adc6ff);
	background-image:     -ms-linear-gradient(bottom, #4f8aff, #3b63c5 26%, #70a7ff 97%, #adc6ff);
	background-image:         linear-gradient(to top, #4f8aff, #3b63c5 26%, #70a7ff 97%, #adc6ff);
}

.ctatertiary {
	color: #505050;
	text-shadow: 0 1px 0 rgba(255,255,255,0.4);
	border: 1px solid #a6a6a6;
	border: 1px solid rgba(166,166,166,0.5);

	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), inset 0 0 4px rgba(255,255,255,.5);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), inset 0 0 4px rgba(255,255,255,.5);
	        box-shadow: 0 1px 2px rgba(0,0,0,.4), inset 0 0 4px rgba(255,255,255,.5);

	background-color: #f0f0f0;
	background-image: -webkit-linear-gradient(bottom, #e8e8e8, #d4d4d4 26%, #fcfcfc 97%, #fff);
	background-image:    -moz-linear-gradient(bottom, #e8e8e8, #d4d4d4 26%, #fcfcfc 97%, #fff);
	background-image:      -o-linear-gradient(bottom, #e8e8e8, #d4d4d4 26%, #fcfcfc 97%, #fff);
	background-image:     -ms-linear-gradient(bottom, #e8e8e8, #d4d4d4 26%, #fcfcfc 97%, #fff);
	background-image:         linear-gradient(to top, #e8e8e8, #d4d4d4 26%, #fcfcfc 97%, #fff);
}

.ctatertiary:hover {
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), inset 0 0 6px rgba(255,255,255,.6);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), inset 0 0 6px rgba(255,255,255,.6);
			box-shadow: 0 1px 2px rgba(0,0,0,.4), inset 0 0 6px rgba(255,255,255,.6);

	background-color: #f5f5f5;
	background-image: -webkit-linear-gradient(bottom, #f5f5f5, #e0e0e0 26%, #fafafa 97%, #fff);
	background-image:    -moz-linear-gradient(bottom, #f5f5f5, #e0e0e0 26%, #fafafa 97%, #fff);
	background-image:      -o-linear-gradient(bottom, #f5f5f5, #e0e0e0 26%, #fafafa 97%, #fff);
	background-image:     -ms-linear-gradient(bottom, #f5f5f5, #e0e0e0 26%, #fafafa 97%, #fff);
	background-image:         linear-gradient(to top, #f5f5f5, #e0e0e0 26%, #fafafa 97%, #fff);
}
