.dropdown1 {
/*	margin: 18px 0 18px 40px;*/
	margin-top: 18px;
	margin-bottom: 18px;
	border: 1px solid #c8c8c8;
	-webkit-border-top-right-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;
	-moz-border-radius-topright: 7px;
	-moz-border-radius-bottomright: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	
	background: #fce8bb; /* Old browsers */
	background: -moz-linear-gradient(top,  #fce8bb 0%, #efb427 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fce8bb), color-stop(100%,#efb427)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fce8bb 0%,#efb427 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fce8bb 0%,#efb427 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fce8bb 0%,#efb427 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fce8bb 0%,#efb427 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fce8bb', endColorstr='#efb427',GradientType=0 ); /* IE6-9 */
	
	-moz-box-shadow: 0px 2px 1px  rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0px 2px 1px  rgba(0, 0, 0, .3);
	box-shadow: 0px 2px 1px  rgba(0, 0, 0, .3);
	
	.option {
		background-color:#fbe2aa;
		height: 42px;
		border-right: 1px solid #ccc;
		position:relative;
	}
	select, select:focus {
		width: 160px;
		margin: 6px;
		-webkit-appearance: none;
		border: 0;
		border-radius: 0;
		-webkit-border-radius: 0;
		background-color: transparent;
		outline: 0;	 /*for focus state*/
		position:relative;
		z-index: 11;
	}

	.arrow-down {
		height: 0;
		width: 0;
		border-top: 7px solid #919191;
		border-left: 5px solid transparent;
		border-bottom: 5px solid transparent;
		border-right: 5px solid transparent;
		position:absolute;
		top: 20px;
		right: 10px;
		z-index: 10;
	}
	.btn1 {
		padding: 12px 30px;
		font-size: 16px;
		color: #505050;
		border: 0;
		background-color:transparent;
	}
}