/* for font testing */
.test {
	font-size: 30px;
	line-height: 36px;
	border: 1px solid #eee;
	padding: 10px;
}
.test2 {
	font-size: 14px;
	line-height: 18px;
	letter-spacing: 0px;
}
.test3 {
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0px;
}
#t1 {
	font-family: "Trebuchet MS";
}
#t2 {
	font-family: "Lucida Grande";
	letter-spacing: -1px;
}
#t3 {
	font-family: "Tahoma";
}
#t4 {
	font-family: "FS Albert";
}
#t5 {
	font-family: "Helvetica Neue";
}
#t6 {
	font-family: "Lucida Sans";
	letter-spacing: -1px;
}
#t7 {
	font-family: "Lucida Sans Unicode";
	letter-spacing: -1px;
}