@import "bootstrap";
/* top header*/
#ilogo {
	display: block;
/*	position: absolute;*/
	left: 0;
	top: 20px;

	background: url(logo.svg) repeat 0 0;
	background-size: 240px;
	overflow: hidden;
	width: 100px;
	height: 35px;
	margin: 30px 10px;
}
/* end of top header*/
#dock {
	background-color: #365EBF;
	position:fixed;
	top: -70px;
	left: 0;
	right: 0;
	width: 100%;
	opacity: .8;
	.container {
		width: 960px;
	}
	.nav > li > a {
		color: #fefefe;
		padding: 10px;
	}
}
#navbar3 {
	font-size: 16px;
}
.hide {
	opacity: 0;
	-webkit-transition: opacity 1s ease-in-out;
}
.show {
	opacity: 1;
	-webkit-transition: top 1s ease-in-out;
}
#dock.expand {
	top: 0;
}
.nav-wrapper {
	height: 40px;
}
.nav-container {
	#hero {
		height:460px;
	}
	#features {
		height: 570px;		
	}
	#works {
		height: 570px;
	}
	#pricing {
		height: 600px;
	}
	#reviews {
		height: 700px;
	}
	#hero, #features, #works, #pricing, #reviews {
		padding-top: 40px;
		margin: 10px 0;
		border: #eee 5px solid;
		h1 {
			padding-left: 20px;
		}
	}
}
#navbar1 {
	background-color:#365EBF;
	background-image:url("");
    .nav > li > a {
		color: #fafafa;
	}
/*	-webkit-transition: all 1s ease-in-out;*/
/*	-webkit-transition-property: all;
    -webkit-transition-duration: 1s;*/
/*	.navbar-fixed-top {
		-webkit-transition: all 1s ease-in-out;
	}*/
}
.fixed1 {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	opacity: .9;
	background-color:#eee;
/*	-webkit-transition:all 1s ease-in-out .5s;*/
}
#navblock1 {
	height: 80px;
	background-color: #eee;
	opacity: .8;
}
#navbar4 {
	outline: 0;
	ul {
		margin: 12px 0;
	}
	ul li {
		display: inline-block;
		padding: 0 10px;
		font-size: 16px;
	}
}
.fixed2 {
	position: fixed;
	top: 40px;
	left: 0;
	right: 0;
	background-color: #fbfbfb;

	opacity: .9;
	z-index: 1000;
	.nav > li > a {
		color: #365EBF;
	}
	-webkit-transition: top 1s ease-in-out;
}